[submodule "docker_namecheapddns_rabbitnotification/pi_notifications"]
	path = docker_namecheapddns_rabbitnotification/pi_notifications
	url = https://github.com/Eidansoft/pi_notifications.git
	branch = master
